body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.no-hover {
  position: relative;
  pointer-events: none;
  &:before,
  &:after {
    position: absolute;
    width: 100%;
    height: 63px;
    background: #fff;
    z-index: 999;
    top: 0;
    left: 0;
    content: "";
    display: block;
  }
  &:after {
    top: auto;
    bottom: 0;
  }
}
.image-container {
  width: 225px;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
.navbar {
  box-shadow: 0 4px 2px -2px lightgrey;
  justify-content: space-between;
}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.dropdown-toggle::after {
  border: none;
}

a:hover {
  color: red;
  text-decoration: none;
}

.interface-blue {
  color: #2e76ba;
}
.navbar-light .navbar-nav .nav-link {
  color: #2e76ba;
  margin-left: 50px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: red;
}
.navbar-light .navbar-toggler {
  border: none;
  outline: none;
}

.hamburger-line {
  width: 35px;
  height: 5px;
  background-color: #2e76ba;
  margin: 6px 0px;
}

.navbar-toggler-icon {
  display: none;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-22 {
  font-size: 22px;
  font-weight: 700;
}

.font-10 {
  font-size: 10px;
}

.gradiant-div {
  background-image: linear-gradient(to right, #2e76ba, white);
  width: 100%;
  height: 20%;
  position: absolute;
}
.course-card {
  width: 150px;
  @media (min-width: 768px) {
    width: 250px;
  }

  &--description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    height: 400px;
  }
}

.w-85 {
  width: 85%;
}

.interface-bg-grey {
  background-color: #ebebeb;
  padding: 6rem;
}
