@import "../styles/Model.scss";
@import "../styles/Home.scss";
@import "../styles/Courses.scss";
@import "../styles/Contact.scss";
@import "../styles/Utilities.scss";
@import "../styles/ModelForm.scss";
@import "../styles/About.scss";
@import "../styles/Blog.scss";
@import "../styles/Admin.scss";

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $light-grey;
}

button:focus {
  outline: none;
}

form > div {
  .select-container {
    border-bottom: 1px solid $dark-blue;
  }
  display: flex;
  width: 500px;
  flex-wrap: wrap;
  input,
  textarea {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid $dark-blue;
    margin: 0px 40px 40px 0px;
    width: 350px;
    outline: none;
    resize: none;
  }
  select {
    border: none;
    width: 350px;
    font-size: 14px;
    color: $grey;
    margin-right: 40px;
    background: transparent;
    outline: none;
  }
  textarea {
    padding-bottom: 50px;
    width: 100% !important;
  }

  input::-webkit-input-placeholder {
    font-size: 14px;
    color: $grey;
  }
  input::-moz-placeholder {
    font-size: 14px;
    color: $grey;
  }
  input:-ms-input-placeholder {
    font-size: 14px;
    color: $grey;
  }
  input:-moz-placeholder {
    font-size: 14px;
    color: $grey;
  }

  textarea::-webkit-input-placeholder {
    font-size: 14px;
    color: $grey;
  }
  textarea::-moz-placeholder {
    font-size: 14px;
    color: $grey;
  }
  textarea:-ms-input-placeholder {
    font-size: 14px;
    color: $grey;
  }
  textarea:-moz-placeholder {
    font-size: 14px;
    color: $grey;
  }
}

button {
  background-color: $orange;
  color: white;
  width: 140px;
  font-weight: 700;
  padding: 13px;
}

footer {
  @media (min-width: 769px) {
    padding: 0 4rem 0 4rem;
  }

  img {
    width: 115px;
  }
  form > div {
    display: flex;
    flex-wrap: nowrap;
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
    width: auto;
    input {
      width: 400px;
    }
    button {
      min-width: 150px;
      font-weight: 700;
      padding: 10px 30px 15px 30px;
      height: 42px;
    }
  }
}

ul {
  list-style: none;
  padding: 15px;
}

.orange-dot-li li::before {
  content: "\2022";
  color: $orange;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

li {
  font-size: 18px;
  font-weight: 300;
  color: $grey;
}

.loading-indicator {
  position: absolute;
  top: 40%;
  left: 50%;
  color: $orange !important;
  width: 70px;
  height: 70px;
}
.disabled {
  opacity: 0.7;
}
.no-hover {
  position: relative;
  img {
    position: absolute;
    top: 140px;
    left: 135px;
  }
  &:before,
  &:after {
    position: absolute;
    width: 100%;
    height: 60px;
    background: #f5f5f5;
    z-index: 999;
    top: 0;
    left: 0;
    content: "";
    display: block;
  }
  &:after {
    top: auto;
    bottom: -18px;
  }
}

.player-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
}

.image-container {
  width: 225px;
}

.navbar {
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  img {
    width: 180px;
  }
  @media (max-width: 768px) {
    display: block !important;
    padding: 35%;
    flex-direction: column !important;
    button {
      width: 100% !important;
    }
  }
  @media (max-width: 460px) {
    padding: 25%;
  }
}
.dropdown-toggle::after {
  border: none;
}

a:hover {
  color: red;
  text-decoration: none;
}

.interface-blue {
  color: #2e76ba;
}
// .navbar-collapse {
//   a {
//     color: $blue-font !important;
//     text-align: center;
//     width: 100%;
//   }
// }
// .navbar-light .navbar-nav .nav-link .active > .nav-link {
//   color: $blue-font;
//   margin-left: 50px;
//   font-weight: 800;
//   font-size: 14px;
//   @media (max-width: 768px) {
//     width: 40%;
//   }
// }

.nav-link:last-of-type {
  @media (min-width: 769px) {
    margin-right: 50px;
  }
}
.navbar-nav {
  padding: 15px 0px;
  text-align: center;
}

a.nav-link {
  color: $blue-font;
  margin-left: 50px;
  font-weight: 800;
  font-size: 14px;
  @media (max-width: 768px) {
    width: 40%;
  }
}
.navbar-light,
.navbar-nav,
.nav-link,
.active > .nav-link {
  color: $blue-font;
  :focus,
  :hover {
    color: red;
  }
}

.navbar-brand {
  margin: 0px !important;
  img {
    margin: 0px !important;
  }
}
nav {
  flex-wrap: nowrap;
  width: 100%;
  @media (max-width: 768px) {
    flex-direction: column !important;
  }
}
.navbar-light .navbar-toggler {
  border: none;
  outline: none;
}

.hamburger {
  &__container {
    position: relative;
    background-color: $blue-font;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin: 0 auto;
  }
  &__line-container {
    position: absolute;
    left: 9px;
    top: 5px;
    img {
      width: 20px;
      margin: 5px 0px 5px 2px;
    }
  }
  &__line {
    width: 23px;
    height: 2px;
    background-color: white;
    margin: 6px 0px;
  }
}

.navbar-toggler-icon {
  display: none;
}

.mark-margin {
  margin-left: -15px;
  @media (max-width: 768px) {
    margin: 0px auto;
  }
}

.admin-header {
  @extend %header-text;
  top: 40%;
  left: 30%;
  p {
    font-size: 30px;
  }
}

.photo-gallery {
  .carousel-item {
    text-align: center;
  }
  .carousel-indicators {
    margin-left: 0;
    right: 0;
    left: 15%;
  }
  img {
    width: 50%;
    height: auto;
    opacity: 1;
  }
}
.block {
  @media (max-width: 768px) {
    margin: 0 !important;
  }
  margin: 0 64px !important;
}
.testimonial {
  .d-flex {
    .mt-5 {
      @media (min-width: 769px) {
        width: 660px;
      }
    }
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  &__photo {
    background-image: url("../assets/model_page_lead_photo.jpg");
    height: 600px;
    @media (min-width: 769px) {
      height: 380px;
    }
    background-size: cover;
    background-repeat: no-repeat;
  }
  .carousel {
    background-color: $dark-blue;
    @media (min-width: 769px) {
      margin-left: 67px;
    }

    width: 100%;
  }
  .carousel-indicators {
    display: flex;
    flex-direction: row;
    left: 40%;
    right: auto;
    margin-left: 0;
    bottom: -50px;
    li {
      background-color: white;
    }
  }
  .carousel-item {
    max-height: 300px;
    overflow: scroll;
  }
  &__container {
    position: absolute;
    color: white;
    top: 30px;
    @media (min-width: 769px) {
      padding: 0px 75px;
    }
    width: 100%;
  }

  .carousel-next-icon {
    background-color: $orange;
    right: -30px;
    top: 100px;
    div:first-of-type {
      background-image: url("../assets/right-arrow-light.png");
      width: 30px;
      height: 30px;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  .carousel-prev-icon {
    background-color: $orange;
    left: -30px;
    top: 100px;
    div:first-of-type {
      background-image: url("../assets/left-arrow-white.png");
      width: 30px;
      height: 30px;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

.date-picker {
  border: none !important;
}
