.firebaserc
node_modules
node_modules/
functions/node_modules
src/node_modules
*.bundle.js
functions/development.env
**/firebase-config.json

*credentials
functions/emailAuth.js
functions/Interface-Aesthetics-storage.json
