@import "./Utilities.scss";

.about-header {
  @extend %header-text;
  left: 35%;
  top: 30%;
  width: 400px;
  p {
    font-size: 28px;
    font-weight: bold;
  }
}
.about-founder {
  padding: 120px 80px 35px;
  color: $grey;
  margin-left: 40%;
  background-color: white;
  @media (max-width: 1000px) {
    margin: 0px 80px 0px 80px;
  }
}

.about-founder-image {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute;
  width: 58%;
  height: auto;
  left: -40px;
  top: 230px;
  @media (max-width: 1000px) {
    display: none;
  }
}
.about-founder-container {
  position: relative;
  height: 800px;
  margin: 40px;
  @media (max-width: 1000px) {
    height: auto;
    margin: 0px;
  }
}
.about-page {
  .photo-gallery {
    margin-top: 220px !important;
  }
  .blue-font-md {
    padding-right: 100px;
  }
}
