@import "./Utilities.scss";

.about-header {
  @extend %header-text;
  width: 1000px;
  left: 10%;
  top: 5%;
  p {
    margin: 0px;
  }
  p:first-of-type {
    font-size: 28px;
    font-weight: 700;
    padding-top: 50px;
  }
  p:nth-child(2) {
    font-size: 48px;
    font-weight: 700;
  }
  p:nth-child(3) {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    padding: 0 200px 0 200px;
    margin-bottom: 15px;
  }
}
.about-founder {
  color: $grey;
  background-color: white;
  display: flex;
  @media (max-width: 1000px) {
    margin: 0;
  }
  &__photo {
    width: 40%;
    height: 40%;
  }
}

.about-page {
  .blue-font-md {
    padding-right: 100px;
  }
  .grey-mark-background {
    background-size: 430%;
    background-repeat: no-repeat;
    background-position: 45% 55%;
    padding: 70px 100px 40px 100px;
    margin-bottom: 50px;
  }
  .d-flex {
    @media (max-width: 1000px) {
      flex-wrap: wrap;
    }
  }
}
