@import "./Utilities.scss";

.about-header {
  @extend %header-text;
  width: 1000px;
  left: 10%;
  top: 5%;
  p {
    margin: 0px;
  }
  p:first-of-type {
    font-size: 28px;
    font-weight: 700;
    padding-top: 50px;
  }
  p:nth-child(2) {
    font-size: 48px;
    font-weight: 700;
  }
  p:nth-child(3) {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    padding: 0 200px 0 200px;
    margin-bottom: 15px;
  }
}
.about-founder {
  padding: 120px 80px 35px;
  color: $grey;
  margin-left: 40%;
  background-color: white;
  @media (max-width: 1000px) {
    margin: 0px 80px 0px 80px;
  }
}

.about-founder-image {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute;
  width: 58%;
  height: auto;
  left: -40px;
  top: 230px;
  @media (max-width: 1000px) {
    display: none;
  }
}
.about-founder-container {
  position: relative;
  height: 800px;
  margin: 40px;
  @media (max-width: 1000px) {
    height: auto;
    margin: 0px;
  }
}
.about-page {
  .blue-font-md {
    padding-right: 100px;
  }
  .grey-mark-background {
    background-size: 430%;
    background-repeat: no-repeat;
    background-position: 45% 55%;
    padding: 70px 100px 70px 100px;
    margin-bottom: 50px;
  }
  .no-hover {
    margin-top: -60px;
    z-index: 0;
    div {
      width: 500px !important;
      height: 525px !important;
    }
    img {
      top: 210px;
      left: 200px;
    }
  }
}
