@import "./Utilities.scss";

.blog-card {
  @media (max-width: 768px) {
    margin: 0 auto;
  }
  @extend %box-shadow;
  width: 18rem;
  a {
    color: $orange !important;
  }
  .card-text {
    @media (max-width: 400px) {
      display: none;
    }
  }
}

.article {
  li {
    margin-left: 3rem;
  }
  ul {
    padding: 0 15px 15px 15px;
  }
}
