@import "./Utilities.scss";

.contact-header {
  @extend %header-text;
  top: 45%;
  left: 45%;
  p:first-of-type {
    font-size: 34px;
  }
}

.contact-form {
  @extend %grey-mark-background;
  background-position: 50% 55% !important;
  display: flex;
  justify-content: space-around;
  padding: 80px;
  margin-bottom: 70px;
  div {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  span {
    margin-left: 20px;
  }
  form > div {
    select,
    input,
    textarea {
      width: 200px;
    }
  }
}
