@import "./Utilities.scss";

.contact-form {
  @extend %grey-mark-background;
  background-position: 50% 55% !important;
  display: flex;
  justify-content: space-around;
  padding: 80px;
  @media (max-width: 768px) {
    padding: 20px;
  }
  margin-bottom: 70px;
  div {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  span {
    margin-left: 10px;
  }
  form > div {
    select,
    input,
    textarea {
      width: 200px;
    }
  }
}
