@import "./Utilities.scss";

.become-model {
  @media (min-width: 769px) {
    width: 75%;
  }
  button {
    @media (max-width: 500px) {
      width: 100%;
    }
  }
  img {
    display: block;
    @media (max-width: 768px) {
      margin: 0 auto;
    }
  }
}

.home-bg-blue {
  background-color: $dark-blue;
  width: 100%;
  height: 100%;
  .carousel-prev-icon,
  .carousel-next-icon {
    background-color: white;
  }
}
.home-bg-blue > .carousel {
  img {
    max-height: 520px;
  }
}
.home-header-item {
  // height: 500px;
  overflow: hidden;
  color: white;
  div {
    position: absolute;
    top: 130px;
    left: 120px;
    @media (max-width: 600px) {
      top: 20px;
      left: 25px;
    }
  }
  p:first-of-type {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
  }
  p:nth-of-type(2) {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
  }
}

.carousel-prev-icon {
  @media (max-width: 600px) {
    display: none;
  }
  padding: 15px;
  position: absolute;
  left: 0px;
  div:first-of-type {
    background-image: url("../assets/left-orange-arrow.png");
    width: 70px;
    height: 70px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.carousel-next-icon {
  @media (max-width: 600px) {
    display: none;
  }
  padding: 15px;
  position: absolute;
  right: 0px;
  div:first-of-type {
    background-image: url("../assets/right-orange-arrow.png");
    width: 70px;
    height: 70px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.carousel {
  img {
    opacity: 0.3;
  }
}

.accreditations-container {
  @extend %grey-mark-background;
  @extend %box-shadow;
  background-position: 60% 50% !important;
  margin-top: 30px;

  img {
    height: 100%;
    width: 200px;
    margin: auto 0;
  }
}

.who-we-train {
  img {
    width: 53px;
  }
  padding: 20px 20px 60px 20px;
  .carousel-indicators {
    left: 5%;
    right: 0;
    bottom: -13%;
    @media (max-width: 550px) {
      left: 0;
    }
  }
}
.blue-card {
  margin: 0 auto 20px;
  background-color: $blue-font;
  width: 320px;
  height: 400px;
  color: white;
  text-align: center;
  padding: 45px 30px 45px 30px;
  div:first-of-type {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
  }
  div:nth-of-type(2) {
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
  }
  @media (max-width: 600px) {
    margin: 0 auto;
  }
}

.upcoming-courses {
  margin: 30px 80px 30px 80px;
  .carousel-prev-icon {
    left: -60px;
    top: 40%;
  }
  .carousel-next-icon {
    right: -60px;
    top: 40%;
  }
  .carousel {
    @extend %grey-mark-background;
  }
  .carousel-inner {
    padding: 70px 50px 70px 50px;
  }
  .carousel-item {
    height: auto;
    div {
      position: relative;
      top: 0px;
      left: 0px;
    }
    p:first-of-type {
      font-weight: 500 !important;
    }
    p:nth-of-type(2) {
      font-weight: 700;
      font-size: 20px;
    }
  }

  .carousel-indicators {
    @media (max-width: 768px) {
      left: 0;
      right: 0;
      margin: 0px auto;
    }
  }
  .course-image {
    margin-left: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
    background-position: -300px;
    @media (max-width: 1000px) {
      display: none;
    }
  }
  img {
    opacity: 1;
  }
  button {
    border: 1px solid $orange;
    height: 100%;
  }
  .next-course {
    background-color: $light-grey;
    border: 1px solid $grey;
    color: $blue-font;
    font-weight: bold;
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .next-course + div {
    background-color: #fc4c10;
    width: 200px;
    @media (max-width: 1000px) {
      width: 100%;
    }
  }
  .right-arrow-light {
    position: absolute !important;
    top: 15% !important;
    left: 80% !important;
    background-image: url("../assets//right-arrow-light.png");
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .content {
    @media (max-width: 1000px) {
      width: auto;
    }
    width: 60%;
  }
}

.carousel-indicators {
  left: 0px;
  right: auto;
  margin-left: 50px;
  bottom: 0px;
  li {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 100%;
    background-color: $dark-blue;
  }
}

.become-model-usp {
  @media (min-width: 1000px) {
    margin-left: 40px;
  }
  display: flex;
  flex-wrap: wrap;
  .why-card {
    flex-direction: column;
    height: 200px;
    width: 200px;
    overflow: hidden;
    overflow-y: scroll;
    @media (max-width: 990px) {
      flex-direction: initial;
      height: 100px;
      width: 100%;
    }
    img {
      width: auto;
      @media (max-width: 480px) {
        width: 20px;
      }
    }
    p {
      color: $grey;
    }
  }
}

.charity {
  img {
    width: 30%;
    height: 30%;
  }
  padding: 60px;
  @media (max-width: 768px) {
    padding: 0px;
    img {
      width: 100%;
      height: 40%;
    }
    div {
      padding: 60px;
    }
  }
}
