@import "./Utilities.scss";

.become-a-model {
  background-image: url("../assets/become-a-model.jpg");
  height: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 4.5rem 0 4.5rem;
}

.model-form {
  text-align: center;
  position: absolute;
  margin: 30px;
  top: 25px;
  padding: 40px;

  p {
    color: white;
  }
  p:first-of-type {
    font-size: 28px;
    font-weight: 700;
  }
  p:nth-child(2) {
    font-size: 48px;
    font-weight: 700;
  }
  h3 {
    font-size: 36px;
    color: $dark-blue;
  }
  form > div {
    padding: 50px 40px 10px 40px;
    width: 100%;
    justify-content: space-between;
    input,
    select {
      width: 200px;
    }
  }
  .model-form-container {
    background-color: $light-grey;
    margin-top: 50px;
    padding: 50px 130px 80px 130px;
  }
}
