.testimonial {
  .d-flex {
    .mt-5 {
      @media (min-width: 769px) {
        width: 660px;
      }
    }
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  &__photo {
    background-image: url("../assets/model_page_lead_photo.jpg");
    height: 600px;
    @media (min-width: 769px) {
      height: 380px;
    }
    background-size: cover;
    background-repeat: no-repeat;
  }
  .carousel {
    background-color: $dark-blue;
    @media (min-width: 769px) {
      margin-left: 67px;
    }

    width: 100%;
  }
  .carousel-indicators {
    display: flex;
    flex-direction: row;
    left: 40%;
    right: auto;
    margin-left: 0;
    bottom: -50px;
    li {
      background-color: white;
    }
  }
  .carousel-item {
    max-height: 300px;
    overflow: scroll;
  }
  &__container {
    position: absolute;
    color: white;
    top: 30px;
    @media (min-width: 769px) {
      padding: 0px 75px;
    }
    width: 100%;
  }

  .carousel-next-icon {
    background-color: $orange;
    right: -30px;
    top: 100px;
    div:first-of-type {
      background-image: url("../assets/right-arrow-light.png");
      width: 30px;
      height: 30px;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  .carousel-prev-icon {
    background-color: $orange;
    left: -30px;
    top: 100px;
    div:first-of-type {
      background-image: url("../assets/left-arrow-white.png");
      width: 30px;
      height: 30px;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
